<div class="container bg-gradient">

  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">EL primer Articulo!</h1>
        <p class="lead my-3">Lean el primer articulo del blog! el resultado les dará un dolor de ojos!</p>
        <p class="lead mb-0"><a href="/blog" class="text-white fw-bold">Continue leyendo...</a></p>
      </div>
    </div>
</main>
<app-articulo1></app-articulo1>
<app-articulo2></app-articulo2>
</div>