
<table>
        <tr>
            <td>Correo electronico:</td>
            <td><input type="email"[(ngModel)]="correo" required="true"></td>
        </tr>
        <tr>
            <td>Direccion: </td>
            <td><textarea rows="2" cols="25" [(ngModel)]="direccion"></textarea>
            </td>
        </tr>
        <tr>
            <td>Comunidad: </td>
            <td><select [(ngModel)]="comunidad" md-selected>
                <option value="Madrid">Madrid</option>
                <option value="no Madrid">No madrid</option>
            </select></td>
        </tr>
        <tr>
            <td>Foma de Pago: </td>
            <td>
                efectivo<input type="radio" name="fpago" value="efectivo" [(ngModel)]='fpago'><br>
                Tarjeta<input type="radio" name="fpago"  value="tarjeta" [(ngModel)]='fpago'><br>
                Contra reembolso<input type="radio" name="fpago" value="contrarrembolso" [(ngModel)]='fpago' > 
                </td>
        </tr>
        <tr>
            <td colspan="2"><p><input type="checkbox" (change)="checkd()">Acepta recibir informacion de nuestros productos</p></td>
        </tr>
    </table>
    <input type="submit" value="Enviar" (click)="mostrar()"><br>

    <textarea rows="2" cols="50" [(ngModel)]="texto" readonly></textarea>
