<article class="blog-post">
    <h2 class="blog-post-title">Segundo Articulo del blog</h2>
    <p class="blog-post-meta">March, 17 2023 by <a href="#">Pablo</a></p>

    <p>Quizás se hayan dado cuenta</p>
    <blockquote>
      <p>Que la fecha de este articulo es <strong>Igual</strong> Que la del anterior</p>
    </blockquote>
    <p>Es más, el contenido tiene la misma estructura, pero con un distinto contenido. Esto se podría lograr utilizando un solo componente, cuya información dependa de una llamada a API
        dependiente de un parámetro, perfectamente un ID único a cada articulo.
    </p>

    <p>Es obligatirio referenciar Lorem Ipsum</p>
  </article>