<app-pedido-hijo (messageEvent)="receiveMessage($event)"></app-pedido-hijo>
<table >
    <tr>
        <td>Id pedido</td>
        <td>idCliente</td>
        <td>nombre Cliente</td>
        <td>Total de productos</td>
        <td>Total precio</td>
    </tr>
    <tr *ngFor="let pedido of listaPedidos">
        <td>{{pedido.idPedido}}</td>
        <td>{{pedido.idCliente}}</td>
        <td>{{pedido.nombreCliente}} </td>
        <td>{{pedido.totProductos}}</td>
        <td>{{pedido.importe}}</td>
    </tr>
    
</table>
