<table>
    <tr>
      <td>Nuevo nombre del curso</td>
      <td>Nuevo tiempo del curso</td>
      <td>Nivel</td>
  </tr>
  <tr>
      <td><input type="text" [(ngModel)]="nombre"></td>
      <td><input type="number" step="1" min="0" [(ngModel)]="horas"></td>
      <td><select [(ngModel)]="nivel">
        <option value="iniciacion">iniciacion</option>
        <option value="intermedio">intermedio</option>
        <option value="avanzado">avanzado</option>
      </select></td>
  </tr>
  </table>
  <input type="button" value="Actualizar" (click)="modificar()">
  <a class="button" routerLink="/">Inicio</a> |
