<nav>
  <a class="button" routerLink="/interpolacion">interpolacion</a> |
  <a class="button" routerLink="/oneway">One way Binding</a>|
  <a class="button" routerLink="/evento">Eventos</a>|
  <a class="button" routerLink="/twoway">Two way Binding</a>|
  <a class="button" routerLink="/servicio">Servicio</a>|
  <a class="button" routerLink="/directivas">Directivas</a>|
  <a class="button" routerLink="/1param">Paso 1 Parametro</a>|
  <a class="button" routerLink="/2param">Paso 2 Parametros</a>|
  <a class="button" routerLink="/padreaHijo">Padre-Hijo</a>|
  <a class="button" routerLink="/hijoaPadre">Hijo-Padre</a>|
</nav>
<router-outlet></router-outlet>
