<h1>Hijo manda a padre</h1>
<p>Nombre: <input type="text" [(ngModel)]="paciente.nombre"> </p>
<p>apellidos: <input type="text" [(ngModel)]="paciente.apellidos"> </p>
<p>dni: <input type="text" [(ngModel)]="paciente.dni"> </p>
<p>telefono: <input type="text" [(ngModel)]="paciente.telefono"> </p>
<p>direccion: <input type="text" [(ngModel)]="paciente.direccion"> </p>
<p>email: <input type="text" [(ngModel)]="paciente.email"> </p>

<p><input type="button" value="Mandar paciente" (click)="mandaPaciente()"></p>

