<h1>Queen</h1>
<p>Banda Britanica de Rock</p>
<img src=".\assets\image.jpg" width="300" height="250">
<h3>Integrantes del grupo</h3>
<ul>
    <li>Brian May</li>
    <li>Freddie Mercury</li>
    <li>John Deacon</li>
    <li>Roger Taylor</li>
</ul>
<h3>Discografia</h3>

<table>
    <caption>Grandes Exitos de Queen</caption>
    <tr>
        <td>1975</td>
        <td>A Night at Space</td>
    </tr>
    <tr>
        <td>1986</td>
        <td>a Kind of Magic</td>
    </tr>
    <tr>
        <td>1989</td>
        <td>the Miracle</td>
    </tr>
    <tr colspan="2"></tr>
</table>
<h3>Web oficial</h3>
<a href="www.queenonline.com">www.queenonline.com</a>

