<article class="blog-post bg-body br-10    ">
    <h2 class="blog-post-title">Articulo del blog</h2>
    <p class="blog-post-meta">March, 17 2023 by <a href="#">Pablo</a></p>

    <p>Primer parrafo del Articulo</p>
    <blockquote>
      <p>Puf, <strong>que dolor de ojos</strong> verdad? Este artículo usa la clase bg-body, diseñada para páginas de estilo "claro"
      </p>
    </blockquote>
    <p>Nada más, pase al próximo párrafo para un dato interesante </p>

    <p>Los articulos del blog son el unico contenido en español de la pagina.</p>
  </article>