<h1>Directivas</h1>
<h3>ngIf</h3>
<p *ngIf="desaparece else otro"  (click)="change()">Ejemplo de directiva if, haga click</p>

<ng-template #otro>
    <div>
      <p (click)="change()">Este otro viene del template, click para volver</p>
    </div>
  </ng-template>

<h3>ngFor</h3>
<div *ngFor="let numero of conteo">
    <p>Parrafo numero {{numero}}</p>
</div>  
<h3>ngSwitch</h3>
<div [ngSwitch]="desapareceSwitch">
    <p *ngSwitchCase="1">El estado es 1</p>
    <p *ngSwitchCase="2">El estado es 2</p>
    <p *ngSwitchCase="3">El estado es 3</p>
    <p *ngSwitchCase="4">El estado es 4</p>
    <p *ngSwitchDefault> El estado es superior a 4</p>
</div>

