<h1>Calculadora</h1>

<input type="button" value="+" (click)="this.op = '+'">
<input type="button" value="-" (click)="this.op = '-'">
<input type="button" value="*"(click)="this.op = '*'">
<input type="button" value="/"(click)="this.op = '/'">
<br>
<p>Operiacion: 
    <input type="number" [(ngModel)]="num1">
    <input type="text" maxlength="1" size="1" [(ngModel)]="op" disabled >
    <input type="number" [(ngModel)]="num2">
<input type="button" value="Calcular" (click)="calcular()">
<p>resultado: <input type="text" name="" id="" [(ngModel)]="result" disabled></p>
