<h1>CRUD de Facturas</h1>
<h2>Lista</h2>
<table>
  <tr>
    <td>Id factura</td>
    <td>id Cliente</td>
    <td>Total factura</td>
    <td>IVA</td>
</tr>
<tr *ngFor="let fact of crud.listaFacturas">
    <td>{{fact.idFactura}}</td>
    <td>{{fact.idCliente}}</td>
    <td>{{fact.totalFactura}} </td>
    <td>{{fact.iva}}</td>
</tr>
</table>
<h2>Crea</h2>
<table>
    <tr>
      <td>Id factura</td>
      <td>id Cliente</td>
      <td>Total factura</td>
      <td>IVA</td>
  </tr>
  <tr>
      <td><input type="number" step="1" min="0" [(ngModel)]="factura.idFactura" disabled="true"></td>
      <td><input type="number" step="1" min="0" [(ngModel)]="factura.idCliente"></td>
      <td><input type="number"min="0" [(ngModel)]="factura.totalFactura"></td>
      <td>21%</td>
  </tr>
  </table>
  <input type="button" value="Crea" (click)="crear()">
<h2>Read</h2>
<p>Id de factura a buscar <input type="number" [(ngModel)]="idBusca" > 
    <input type="button" value="Buscar" (click)="buscar()">
</p>
<p>{{returnBusca}}</p>
<h2>Update</h2>
<table>
    <tr>
      <td>Id factura</td>
      <td>nuevo Id cliente</td>
      <td>nuevo Total factura</td>
  </tr>
  <tr>
      <td><input type="number" step="1" min="0" [(ngModel)]="factura.idFactura"></td>
      <td><input type="number" step="1" min="0" [(ngModel)]="factura.idCliente"></td>
      <td><input type="number"min="0" [(ngModel)]="factura.totalFactura"></td>
  </tr>
  </table>
  <input type="button" value="Actualizar" (click)="actualizar()">

<h2>Delet</h2>
<p>Id de factura a Borrar <input type="number" [(ngModel)]="idBorra" > 
    <input type="button" value="Borrar" (click)="borrar()">