<h1>Repaso de Directivas</h1>

<h3>ngIf</h3>
<input type="checkbox" (change)="cambio()">
<p *ngIf="activo">Parrafo 1</p>
<p *ngIf="!activo">Parrafo 2</p>

<h3>ngFor</h3>
<table *ngFor="let elem of lista">
    <tr>{{elem}}</tr>
</table>

<h3>ngSwitch</h3>
<p>un switch que depende de una variable, manzana está escogida</p>
<div [ngSwitch]="fruta">
    <p *ngSwitchCase="frutas.manzana">manzana</p>
    <p *ngSwitchCase="frutas.platano">platano</p>
    <p *ngSwitchCase="frutas.fresa">fresa</p>
    <p *ngSwitchCase="frutas.naranja">naranja</p>
    <p *ngSwitchDefault="">Default</p>
  </div>